html, body {
  height: 100%;
}

body {
  margin: 0;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#canvas {
  width: 800px;
  height: 500px;
  background-color: #000;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: .5rem;
}

.cell {
  background-color: #fff;
}

.cell:nth-child(1) {
  grid-column: 1 / 5;
  grid-row: 1 / 7;
  background-color: #d31614;
}

.cell:nth-child(2) {
  grid-column: 5 / 6;
  grid-row: 1 / 3;
  background-color: #f6bf02;
}

.cell:nth-child(3) {
  grid-column: 5 / 6;
  grid-row: 3 / 7;
}

.cell:nth-child(4) {
  grid-column: 6 / 8;
  grid-row: 1 / 5;
}

.cell:nth-child(5) {
  grid-column: 6 / 8;
  grid-row: 5 / 6;
  background-color: #225095;
}

.cell:nth-child(6) {
  grid-column: 8 / 9;
  grid-row: 1 / 3;
  background-color: #d31614;
}

.cell:nth-child(7) {
  grid-column: 8 / 9;
  grid-row: 3 / 6;
}

.cell:nth-child(8) {
  grid-column: 1 / 5;
  grid-row: 7 / 11;
}

.cell:nth-child(9) {
  grid-column: 5 / 6;
  grid-row: 7 / 11;
  background-color: #225095;
}

.cell:nth-child(10) {
  grid-column: 6 / 9;
  grid-row: 6 / 11;
  background-color: #f6bf02;
}
