html, body {
  height: 100%;
}

body {
  margin: 0;
}

#canvas {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.grid {
  flex: 1;
  display: grid;
  background-color: #000;
}

.cell {
  background-color: #fff;
}
